<section class="tablaUsuarios">

    <h2>Students List</h2>
    <a href="./addStudent.html" class="btn-addStudent">Add Student</a>

    <table id="showStudentsTable">
        <!-- Head's table  -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Enrol Number</th>
                <th>Admission Date</th>
                <th>Actions</th>
            </tr>
        </thead>

        <!-- Body's table -->
        <tbody>
        </tbody>

    </table>

</section>